<!DOCTYPE html>
<html lang="en">

<head>
    <title>WeatherApp</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <!-- Use some bootstrap CSS and google fonts to quicken the process -->
    <!-- you shall also add a favicon -->
    <link rel="shortcut icon" href="https://img.icons8.com/office/16/000000/sunset--v2.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
</head>

<body>
    <h1>Hello <%=user%>
    </h1>
</body>

</html>