.alert-primary {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    line-height: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
}

.oras_fav {
    margin-left: 0%;
    min-width: 50%;
    font-size: 2em;
    text-decoration: none;
}

.add_main{
    text-decoration: none;
    font-size: 3em;
    margin-left: 5%;
}
.oras_fav:hover, .add_main:hover {
    color: rgb(232, 50, 131);
    transition: 0.5s;
    text-decoration: none;
}

.temp {
    margin-left: 0%;
    font-size: 2em;

}

.btn-close{
    margin-left: 20%
}

img {
    margin: 0;
    margin-left: 10%;

}

#titlu_fav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

#buton_special {
    display: flex;
    margin-right: 0;
}